extends layout

block content
  h1= title
  p Welcome to the #{title} library! Find your book and share with your bros!

  form(action='/login' method='post')
    input(type='text' name='username', placeholder='Username')
    input(type="text", name="password", placeholder='Password')
    button(type='submit') Submit

