extends layout

block content
  h1= "Register"
  p= "Create a new user"

  form(action='/createUser' method='post')
    input(type='text' name='username', placeholder='Username')
    input(type="text", name="password", placeholder='Password')
    button(type='submit') Submit